body {
    background-color: #f1e9d79f;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    
}
.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 20px 20px;
    position: relative;
    
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    backdrop-filter: blur(4px); /* Apply blur effect to the navbar background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow to the navigation bar */


}

.college-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh -100px); /* Leaves space for the navbar */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
    color: #000000;
    line-height: 1;
}

.edu {
    font-size: 1.2em;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 30px;
    position: relative;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
}
.icons {
    display: flex;
    align-items: center;
}

.icons a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.icons a:hover {
    color: #ccc;
}

.icons img {
    height: 45px;
}

.college-section {
    text-align: center;
    width:56%;
    /* background-color: #ffffff;
    position: relative;
    */
   /* border-radius: 10px;
    padding: 20px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right:60px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 2em;
    color: #333;
   /* font-style: italic;*/
}

.filter-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.college-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.college-item {
    background-color: #ffffff16;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-right: 0px;
}

.college-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.college-item img {
   width: 290px;
    height: 200px;
   /* width: 100%;
    height: auto;*/
    border-radius: 8px;
}

.college-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    /*margin-top: 10px;*/
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #333;
}
.college-grid:has(.college-item:hover) .college-item:not(:hover){
    filter: blur(1.5px);
}